* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #0033CC;
    --color-primary-dark: #002699;
    --color-primary-light: #0040FF;
    --color-secondary: #0099CC;
    --color-secondary-dark: #007399;
    --color-secondary-light: #00BFFF;
    --color-gray: #797B80;
    --color-gray-light: #B6B8BF;
    --color-gray-ultralight: #FAFBFF;
    --color-gray-dark: #3D3D40;
    --color-gray-ultradark: #18191A;
    --font-family: 'Open Sans', sans-serif;
    --font-size: 16px;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color-gray-dark);
    background-color: var(--color-gray-ultralight);
}

p {
    font-size: 1rem;
}

h4 {
    font-size: calc(1rem + 8px); /* 24 */
}

h3 {
    font-size: calc(1rem + 2*(8px)); /* 32 */
}

h2 {
    font-size: calc(1rem + 3*8px);/* 40 */
}

h1 {
    font-size: calc(1rem + 4*8px);/* 48 */
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header {
    height: 100px;
}

.logo {
    width: 100px;    
}

.logo img {
    width: 100px;
    z-index: 10;
}

.header .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.header ul {
    display: flex;
    gap: 20px;
}

.header ul li {
    list-style: none;    
}

.header ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--color-primary);
}

.header ul li a:hover {
    background-color: var(--color-primary);
    color: var(--color-gray-ultralight);
    text-decoration: none;
}

.section {
    padding: 40px 0 ;
}

.section-home {
    background-color: #0033CC;
    height: calc(100vh - 100px);
    color: #ffffff;
    display: flex;
    position: relative;
}

.section-home .home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-home h1 {
    font-size: clamp(1rem, 1rem + 3vw, 3rem);
}

.section-home p {
    font-size: 18px;
    margin: 25px 0;
    max-width: 300px;
}

.section-home img {
    max-width: 600px;
    margin-top: 50px;
    z-index: 0;
    width: 100%;
}

.section-videos h2 {
    font-size: clamp(1rem, 1rem + 3vw, 2.5rem);
    padding: 40px 0;
}

.section-videos .ver-mais {
    text-align: center;
    display: block;
    color: var(--color-secondary);
    margin-top: 30px;
}

a.negativa {
    color: var(--color-gray-ultralight);
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    list-style: none;
    flex: 0 1 30%;
}

.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card button {
    width: 100%;
}

.card main {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 200px;
}

.card main span {
    text-align: right;
    display: block;
    margin-top: auto;
    padding: 20px 0;
}

.section-sobre {
    background-image: linear-gradient(270deg,var(--color-primary-dark), var(--color-primary));
    color: var(--color-gray-ultralight);
}

.section-sobre h2 {
    font-size: clamp(1rem, 1rem + 3vw, 2.5rem);
    padding: 40px 0 ;
}

.section-sobre iframe {
    aspect-ratio: 16/9;
    width: 100%;
}

.section-sobre .sobre-descricao {
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;
    width: 45%;
}

.section-sobre .wrapper-sobre {
    display: inline-block;
    vertical-align: top;
    width: 45%;
}

.section-sobre .sobre-descricao p {    
    padding-left: 50px;
    padding-bottom: 15px;
}

.section-contato h2 {
    font-size: clamp(1rem, 1rem + 3vw, 2.5rem);
    padding: 40px 0 ;
}

.section-contato .contato-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-contato img {
    max-width: 500px;
    border-radius: 5px;
    transform: scaleX(-1);
    width: 100%;
}

.section-contato ul {
    padding-left: 20px;
}

.section-contato ul li {
    padding: 10px 0;
}

.btn {
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    border: 0;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
    font-size: 18px;    
}

.btn i {
    margin-right: 10px;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-gray-ultralight);
}

.btn-primary:hover {
    background-color: var(--color-primary-dark);
}

.btn-primary-outline {
    background-color: #fff;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.btn-primary-outline:hover {
    background-color: var(--color-gray-ultralight);
}

.btn-youtube {
    background-color: #dc3545;
    color: var(--color-gray-ultralight);
    margin-right: 10px;
}

.btn-youtube:hover {
    background-color: #aa2835;
}

.btn-github {
    background-color: #212529;
    color: var(--color-gray-ultralight);
}

.btn-github:hover {
    background-color: #131518;
}

.footer {
    background-color: var(--color-gray-ultradark);
    color: var(--color-gray-ultralight);
    padding: 40px 0;
    text-align: center;
}

@media (max-width: 1100px) {
    .container {
        padding: 0 20px;
    }

    .section-home .home-img {
        display: none;
    }
    
    .section-home p {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    /* contato */
    .section-contato img {
        display: none;
    }

    .section-home .container {
        margin: auto auto;
        text-align: center;
    }

    .card {    
        flex: 0 1 40%;
    }
    
}

@media (max-width: 960px) { 
        
    .section-home h2 {
        text-align: center;
    }

    .section-videos h2 {
        text-align: center;
    }

    .section-sobre .wrapper-sobre {
        width: 100%;
        text-align: center;
    }

    .section-sobre .sobre-descricao {
        display: block;
        width: 100%;
        margin-top: 20px;
        padding-left: 0;
    }    

    .section-sobre .sobre-descricao p {
        padding-left: 0px;
    }

    .section-sobre h2 {
        text-align: center;
    }
    
    .section-contato {
        justify-content: center;
        list-style: none;
        text-align: center;
    }

    .section-contato .contato-wrapper {
        justify-content: center;
        list-style: none;
    }
    
    .section-contato .contato-wrapper li {
        list-style: none;
    }
}

@media (max-width: 800px) {    
    .card {
        flex: 0 1 100%;
    }

    .section-sobre .sobre-descricao p {
        padding-left: 0;
    }        
}